#root {
    -fx-background-color: white;
}

.btn {
    -fx-font-size: 16;
    -fx-text-fill: #e30713;
    -fx-border-width: 2;
    -fx-border-color: #e30713;
    -fx-background-color: transparent;
    -fx-border-radius: 4;
}

.btn:hover {
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-background-color: #e30713;
    -fx-border-radius: 4;
}